<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AccessUpdate.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="WorkingWithDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AccessUpdate.AccessUpdateSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <WorkingWithDB.Properties.Settings>
      <setting name="ExcelFilePath" serializeAs="String">
        <value/>
      </setting>
      <setting name="numericUpDownFBURowNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="numericUpDownRoleRowNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="numericUpDownLoginRowNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="numericUpDownProjectCollumnNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="textBoxCookie" serializeAs="String">
        <value/>
      </setting>
      <setting name="numericUpDownSheet" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExcelFilePathToSave" serializeAs="String">
        <value/>
      </setting>
    </WorkingWithDB.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <appSettings configSource="appSettings.config" />
  
</configuration>
