<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>

    <!--ED-->
    <add key="EDPred" value="entdir-pred" />
    <add key="EDTest" value="entdir-test"/>
    <add key="EDoro"  value="oro-ed-pred2"/>
    <add key="EDProd" value="msk-entdir-02"/>
    <!--ED app-->
    <add key="EDPredApp" value="entdir-pred" />
    <add key="EDTestApp" value="entdir-test"/>
    <add key="EDoroApp"  value="oro-entdir-pred"/>
    <add key="EDProdApp" value="ed"/>

    <!--TRM-->
    <add key="TRMPred" value="iad-trm-pred" />
    <add key="TRMTest" value="iad-trm-test"/>
    <add key="TRMProd" value="oro-trm-db-01"/>
    <!--TRM app-->
    <add key="TRMPredApp" value="oro-trmcln-01" />
    <add key="TRMTestApp" value="trmsys-test"/>
    <add key="TRMProdApp" value="trm"/>

    <!--Invoicing-->
    <add key="INVPred" value="iad-invoicing" />
    <add key="INVTest" value="oro-inv-tst-01"/>
    <add key="INVProd" value="oro-inv-db-01"/>
    <!--Invoicing app-->
    <add key="INVPredApp" value="invoicing-pred" />
    <add key="INVTestApp" value="invoicing-test"/>
    <add key="INVProdApp" value="invoicing"/>

    <!--AllRights-->
    <add key="AlRPred" value="pulsar-pred-app" />
    <add key="AlRTest" value="pulsar-test-app"/>
    <add key="AlRProd" value="allrights"/>
    
  </appSettings>
