<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>

    <!--ED-->
    <add key="EDPred" value="entdir-pred" />
    <add key="EDTest" value="entdir-test"/>
    <add key="EDoro"  value="oro-ed-pred2"/>
    <add key="EDProd" value="msk-entdir-02"/>
    <!--ED app-->
    <add key="EDPredApp" value="entdir-pred" />
    <add key="EDTestApp" value="entdir-test"/>
    <add key="EDoroApp"  value="oro-entdir-pred"/>
    <add key="EDProdApp" value="ed"/>

    <!--TRM-->
    <add key="TRMPred" value="iad-trm-pred" />
    <add key="TRMTest" value="iad-trm-test"/>
    <add key="TRMProd" value="oro-trm-db-01"/>
    <!--TRM app-->
    <add key="TRMPredApp" value="oro-trmcln-01" />
    <add key="TRMTestApp" value="trmsys-test"/>
    <add key="TRMProdApp" value="trm"/>

    <!--Invoicing-->
    <add key="INVPred" value="iad-invoicing" />
    <add key="INVTest" value="oro-inv-tst-01"/>
    <add key="INVProd" value="oro-inv-db-01"/>
    <!--Invoicing app-->
    <add key="INVPredApp" value="invoicing-pred" />
    <add key="INVTestApp" value="invoicing-test"/>
    <add key="INVProdApp" value="invoicing"/>

    <!--AllRights-->
    <add key="AlRPred" value="pulsar-pred-app" />
    <add key="AlRTest" value="pulsar-test-app"/>
    <add key="AlRProd" value="allrights"/>
    
    <!--Roles-->
    <add key="Roles_count" value="19"/>
    <add key="Roles_01" value="SE Manager"/>
    <add key="Roles_02" value="SE Manager Extended"/>
    <add key="Roles_03" value="BU manager"/>
    <add key="Roles_04" value="BU manager without notifications"/>
    <add key="Roles_05" value="BU administrator"/>
    <add key="Roles_06" value="ViewRole"/>
    <add key="Roles_07" value="OPR Manager"/>
    <add key="Roles_08" value="OPR viewer"/>
    <add key="Roles_09" value="DataReader"/>
    <add key="Roles_10" value="FBUTreeViewer"/>
    <add key="Roles_11" value="FBUViewer"/>
    <add key="Roles_12" value="Payment Forecaster"/>
    <add key="Roles_13" value="Project Viewer"/>
    <add key="Roles_14" value="Project Manager"/>
    <add key="Roles_15" value="Manager"/>
    <add key="Roles_16" value="Manager delegated"/>
    <add key="Roles_17" value="am"/>
    <add key="Roles_18" value="pm"/>
    <add key="Roles_19" value="osresponsible"/>
    
  </appSettings>
